* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #007bff;
    padding: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #0056b3;
    border-radius: 5px;
}

.conteudo h1 {
    color: #333;
    text-align: center;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria img {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}